# OS files
.DS_Store
**/.DS_Store

# Database data directories
databases/mysql/data
databases/postgres/data
databases/mssql/*.bak

# CI/CD
ci-cd/jenkins/jenkins_home

# Automation
n8n/n8n_data
n8n/certs

# Docker volumes (if mounted locally)
**/data/
!**/data/.gitkeep
