DATABASE_URL=postgresql://hoppscotch:hoppscotch@postgres:5432/hoppscotch
DATA_ENCRYPTION_KEY=12345678901234567890123456789012
WHITELISTED_ORIGINS=http://localhost:3170,http://localhost:3000,http://localhost:3100,app://localhost_3200,app://hoppscotch
TRUST_PROXY=false
VITE_BASE_URL=http://localhost:3000
VITE_SHORTCODE_BASE_URL=http://localhost:3000
VITE_ADMIN_URL=http://localhost:3100
VITE_BACKEND_GQL_URL=http://localhost:3170/graphql
VITE_BACKEND_WS_URL=ws://localhost:3170/graphql
VITE_BACKEND_API_URL=http://localhost:3170/v1
VITE_APP_TOS_LINK=https://docs.hoppscotch.io/support/terms
VITE_APP_PRIVACY_POLICY_LINK=https://docs.hoppscotch.io/support/privacy
VITE_PROXYSCOTCH_ACCESS_TOKEN=
ENABLE_SUBPATH_BASED_ACCESS=false
